/* new styles for my resume*/

/* general css styles for my resume*/
body {
font-family: 'Open Sans', Arial, sans-serif;
font-size: 1 em;
color: #444;
font-weight: 400;

}

/*page width!*/
#container {
width: 100%;
max-width: 1200px;
margin: 0 auto;
bottom: 50px;
}

/* name styling */
#name {
font-size: 3em;
color: #33485e;
text-transform: uppercase;
text-align: center;
border-bottom: 1px solid #33485e;
width: 60%;
min-width: 300px;
margin: 0 auto;
}
/*description styling*/
.description {
font-size: 1em;
font-weight: 200;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
}

/* title styling */
#title {
font-size: 1.5 em;
text-transform: upperccase;
font-size: 1.5em;
text-align: center;
color: #33485e;
font-weight: 600;
margin-top: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
boldness: 400px;
}

/*contact info styling*/
.menu{
    margin: 0 auto;
    text-align: center;
    padding: 0px
}
/*contact info styling cont*/
.contact {
    display: inline;
    text-align: center;
}
/* Section titles */
.sectionheader {
font-size: 1.5em;
background-color: #33485e;
color: #fff;
text-transform: uppercase;
font-weight: 400;
margin-top: 20px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
width: 70%;
min-width: 300px;
}

/* Job title styling */
.jobtitle {
font-size: 1.5em;
font-weight: 600;
color: #000000;
}

/* organization styling */
.organization {
font-size: 1.25em;
font-weight: 400;
}

/*  dates styling */
.dates {
font-size: 1em;
font-weight: 400;
font-style: italic;
margin-top: 2px;
margin-bottom: 0px;
}

/*job description styling*/
.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    display: inline;
}
/* education styling */
#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
/* skills list styling */
#do {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color:#000000;
    font-weight: 600;

}

.top{
    width:60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}