/* new styles for my resume*/

/* general styles for resume*/
body {
font-family: 'Open Sans', Arial, sans-serif;
font-size: em;
color: #444;
font-weight: 400;
}

/*page width*/
#container {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

/* Name style */
#name {
font-size: 3em;
color: #33485e;
text-transform: uppercase;
text-align: center;
border-bottom: 1px solid #33485e;
width: 60%;
min-width: 300px;
margin: 0 auto;
}

/* title styles */
#title {
font-size: 3em;
text-transform: upperccase;
font-size: 1.5em;
text-align: center;
color: #33485e;
font-weight: 600;
margin-top: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

/*contact info styles*/
.menu{
    margin: 0 auto;
    text-align: center;
    padding: 0px
}
/*contact info styles cont*/
.contact {
    display: inlines;
}
/* Section titles */
.sectionheader {
font-size: 1.5em;
background-color: #33485e;
color: #fff;
text-transform: uppercase;
font-weight: 400;
margin-top: 20px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
width: 70%;
min-width: 300px;
}

/* Job title style */
.jobtitle {
font-size: 1.5em;
font-weight: 600;
}

/* organization style */
.organization {
font-size: 1.5em;
font-weight: 400;
}

/*  dates style */
.dates {
font-size: 1em;
font-weight: 400;
font-style: italic;
margin-top: 10px;
margin-bottom: 0px;
}

/*job description style*/
.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
/* education style */
#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
/* skills list style */
#do {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}